<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">خانه</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/rewards']" routerLinkActive="active" >پاداش</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/matches']" routerLinkActive="active" >مسابقات</a>
  </li>  
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/points']" routerLinkActive="active" >گردش امتیازها</a>
  </li>  
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/account']" routerLinkActive="active" >اعتبارات</a>
  </li>  
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active" >قرعه کشی</a>
  </li>  
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/network']" routerLinkActive="active" >دعوت از دوستان</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/poll']" routerLinkActive="active" >نظرسنجی</a>
  </li>

</ul>


<router-outlet></router-outlet>
